@font-face {
  font-family: "TelegrafRegular";
  src: local("TelegrafRegular"),
    url("/public/TelegrafRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TelegrafBold";
  src: local("TelegrafBold"), url("/public/TelegrafBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #f6f6f6;
  font-family: "TelegrafRegular", sans-serif;
  margin-bottom: 50px;
}

.dashboard-title {
  font-size:40px;
  text-align: left;
  font-weight: 700;
  margin: 50px 0px 0px 20px;
}

.dashboard-title-date{
  font-size: 25px;
  margin: 0px 0px 0px 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.user-photo {
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
  filter: grayscale(100%);
  margin: 0px 0px 20px 20px;
}

/* .dashboard-exp {
  border-radius: 13px;
  border: none;
  background-color: #222222;
  color: #f6f6f6;
  padding: 12px;
  margin: 0px 0px 20px 20px;
  width: 100%;
  /* max-width: 500px; */


h6 {
  margin: 0px 0px 0px 20px;
}

.dashboard-exp {
  border-radius: 13px;
  border: none;
  background-color: #222222;
  color: #f6f6f6;
  padding: 12px;
  margin: 0px 10px 20px 20px; /* Adjusted margin for better responsiveness */
  width: 100%;
  max-width: 500px;
}

/* Media Query for Responsiveness */
@media only screen and (max-width: 768px) {
  .dashboard-exp {
    margin: 0px 50px 20px 20px; /* Adjusted margin for smaller screens */
    max-width: 90%; /* Allow element to take full width on smaller screens */
  }

  .user-photo { 
  }
}

