.faqs {
  height: 93vh;
}

.faq-container {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.faq-accordion {
  width: 80%;
  padding: 5%;
}

.back2 {
  border-radius: 20px;
  background-color: #373737;
  color: #fff;
  width: fit-content; /* Or use width: auto; */
  margin: auto;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border: none;
  transition: background-color 0.5 ease;
}

.signin:hover {
  background-color: black;
}
