.faqs {
  height: 100vh;
}

.faq-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.faq-accordion {
    width: 80%;
    padding: 5%;
}
