.topnav {
  background-color: #f4f4f4;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.moneydaddy-text {
  color: #000;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.moneydaddy-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.topnav b {
  float: left;
  color: black;
  text-align: center;
  padding: 2px 2px;
  font-size: 17px;
}

.topnav-mobile {
  display: none;
}

.topnav-mobile a {
  text-decoration: none;
  color: black;
}

.mobile-container {
  width: 100vw;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #525252;
}

.mobile-list a {
  padding: 10px;
  text-decoration: none !important;
  color: black;
}

.topnav-mobile button {
  border: none;
}

@media screen and (max-width: 991px) {
  .topnav {
    display: none;
  }

  .topnav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    width: 100%;
  }
}