.logo {
    height:20px;
    margin: 2px 5px 0 0;
}

nav {
    background-color: #222222;
    padding: 0;
    margin: 0;
    width: 300px;
}

.nav-btn {
    text-transform: uppercase;
    color: #f6f6f6;
    font-weight:700;
}

.nav-btn:hover {
    cursor: pointer;
    opacity: 50%;
    transition-duration: 0.5s;
}

.logo-container {
    display: flex;
    margin: 20px 0 0 0;
}

.moneydaddy-tl {
    color:#f6f6f6;
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.logout-btn {
    background-color: #f6f6f6;
    color:#222222;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 13px;
    border:none;
    width:50%;
}

.logout-btn:hover {
    opacity: 50%;
    transition-duration: 0.7s;
}
