.nav-container {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #222222;
  color: #fff;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding: 20px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.nav-btn {
  text-transform: uppercase;
  color: #f6f6f6;
  font-weight: 700;
  padding: 0px;
  letter-spacing: 2px;
}

.nav-btn:hover {
  opacity: 0.5; /* Adjust opacity on hover */
  transition-duration: 0.7s;
}

.logo {
  height: 25px;
  margin-right: 7px;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.moneydaddy-tl {
  color: #f6f6f6;
  font-weight: 700;
  font-size: 1.75em;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

.logout-btn {
  width: 100%;
  background-color: #f6f6f6;
  color: #222222;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  padding: 7px;
  margin-bottom: 20px;
  align-items: center;
}

.logout-btn:hover {
  opacity: 0.5; /* Adjust opacity on hover */
  transition-duration: 0.7s;
}

.logout-mobile {
  border: none;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #f4f4f4;
}

.mobile-list a:hover, .mobile-list button:hover {
  background-color: #383838;
}

.mobile-container {
  width: 100%;
  background-color: #222222;
  color: #fff;
  display: none;
}

.mobile-container i,
button {
  color: #f4f4f4;
  background-color: #222222;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
}

.mobile-list a {
  padding: 10px;
  text-decoration: none !important;
  text-align: center;
  color: #fff;
  width: 100%;
  border-top: 1px solid #f4f4f4;
}

.logo-image span {
  color: #fff;
}

.topnav-mobile button {
  border: none;
}

/* RESPONSIVENESS CHUCHU */
@media screen and (max-width: 991px) {
  nav {
    width: 100%;
    height: auto;
    position: static;
    overflow-y: initial;
    padding-bottom: 0px;
    display: none;
  }

  .nav-btn {
    padding: 10px;
  }

  .logo-container {
    margin: 0;
  }

  .topnav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    width: 100%;
  }

  .mobile-container {
    display: block;
  }
}

@media screen and (max-width: 1661px) {
  .moneydaddy-tl {
    font-size: 1.25em;
  }
}
