/* Desktop */
@media (min-width: 992px) {
  .navigation-col {
    height: 100vh;
    overflow: auto;
  }
}

body {
  background-color: #f4f4f4;
}

.back-to-home {
  display: flex;
  justify-content: center;
}

.container-height {
 height: 100vh;
}
