/* Desktop */
@media (min-width: 992px) {
  .navigation-col {
    height: 100vh;
    overflow: auto;
  }
}

/* Mobile */
@media (max-width: 991.98px) {
  .navigation-col {
    height: auto;
  }
}

body {
  background-color: #f4f4f4;
}

/*login */
.text1 {
  font-size: 90px;
}

.text2 {
  font-weight: bold;
  font-size: 90px;
}

.signin {
  border-radius: 20px;
  background-color: #373737;
  color: #fff;
  width: fit-content; /* Or use width: auto; */
  margin: auto;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border: none;
  transition: background-color 0.5 ease;
}

.signin:hover {
  background-color: black;
}

/* navbar */
.topnav {
  background-color: #f4f4f4;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.topnav b {
  float: left;
  color: black;
  text-align: center;
  padding: 2px 2px;
  font-size: 17px;
}

#moving {
  animation-name: float;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

h1 {
  font-weight: bold;
}

/* faq */
.App-main {
  padding: 10%;
}

.back-to-home {
  display: flex;
  justify-content: center;
}

/* contact */
.contact-container {
  padding: 10%;
}

/* how it works */
.how-container {
  padding: 10%;
}

/* accordion */
/* dito niyo customize yung accordion css */
.custom-accordion .accordion-button:not(.collapsed) {
  color: #f4f4f4;
  /* background-color: #212529; */
  background-color: #212529;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}

.custom-accordion .accordion-button {
  background-color: #f4f4f4;
}

.custom-accordion .accordion-item {
  background-color: #f4f4f4;
  border: none;
  border-bottom: 1px solid #cacaca !important;
}

.custom-accordion
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  border-radius: 0;
}

.custom-accordion {
  /* margin: 1em 0; */
}

.custom-accordion .accordion-item:first-of-type, .accordion-item:last-of-type {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.custom-accordion .accordion-button {
  font-weight: 600;
  font-size: 0.5em;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus-lg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3e%3c/svg%3e");
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-lg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3e%3c/svg%3e");
  fill: #ffffff;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}